<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>PendingLicenceServlet</servlet-name>
  	<display-name>PendingLicenceServlet</display-name>
  	<description></description>
  	<servlet-class>au.edu.unsw.soacourse.servlet.PendingLicenceServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ValidateServlet</servlet-name>
  	<display-name>ValidateServlet</display-name>
  	<description></description>
  	<servlet-class>au.edu.unsw.soacourse.servlet.ValidateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReviewNoticeServlet</servlet-name>
  	<display-name>ReviewNoticeServlet</display-name>
  	<description></description>
  	<servlet-class>au.edu.unsw.soacourse.servlet.ReviewNoticeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExtensionRequestServlet</servlet-name>
  	<display-name>ExtensionRequestServlet</display-name>
  	<description></description>
  	<servlet-class>au.edu.unsw.soacourse.servlet.ExtensionRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PaymentServlet</servlet-name>
  	<display-name>PaymentServlet</display-name>
  	<description></description>
  	<servlet-class>au.edu.unsw.soacourse.servlet.PaymentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SetFeeServlet</servlet-name>
  	<display-name>SetFeeServlet</display-name>
  	<description></description>
  	<servlet-class>au.edu.unsw.soacourse.servlet.SetFeeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SetDescriptionServlet</servlet-name>
  	<display-name>SetDescriptionServlet</display-name>
  	<description></description>
  	<servlet-class>au.edu.unsw.soacourse.servlet.SetDescriptionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LicenceServlet</servlet-name>
  	<display-name>LicenceServlet</display-name>
  	<description></description>
  	<servlet-class>au.edu.unsw.soacourse.servlet.LicenceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PendingLicenceServlet</servlet-name>
  	<url-pattern>/PendingLicenceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PendingLicenceServlet</servlet-name>
  	<url-pattern>/pending</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ValidateServlet</servlet-name>
  	<url-pattern>/ValidateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ValidateServlet</servlet-name>
  	<url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReviewNoticeServlet</servlet-name>
  	<url-pattern>/ReviewNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReviewNoticeServlet</servlet-name>
  	<url-pattern>/review</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExtensionRequestServlet</servlet-name>
  	<url-pattern>/ExtensionRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExtensionRequestServlet</servlet-name>
  	<url-pattern>/extensionrequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PaymentServlet</servlet-name>
  	<url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PaymentServlet</servlet-name>
  	<url-pattern>/payment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SetFeeServlet</servlet-name>
  	<url-pattern>/SetFeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SetFeeServlet</servlet-name>
  	<url-pattern>/setFee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SetDescriptionServlet</servlet-name>
  	<url-pattern>/SetDescriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SetDescriptionServlet</servlet-name>
  	<url-pattern>/setDescription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LicenceServlet</servlet-name>
  	<url-pattern>/LicenceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LicenceServlet</servlet-name>
  	<url-pattern>/licence</url-pattern>
  </servlet-mapping>
</web-app>
